/* Buttons Start */

.btn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;

    &-submit, &-log, &-reg {
      border-bottom: 1px solid #0a5f7d;
      padding: 1rem;
      color: #333;
      transition: all 0.3s;
      box-shadow: 1px 1px 9px #ddd;
    }

    &-submit:hover, &-log:hover, &-reg:hover {
      color: #fff;
      background-color: #0a5f7d;
      transform: translateY(-0.3rem);
      box-shadow: 2px 3px 5px #777;
    }

    &-submit:active, &-log:active, &-reg:active {
      transform: translateY(0);
    }
}

.login__btn, .register__btn {
    margin: 1rem;
}

/* Buttons End */

