@media (max-width: 920px) {
  html {
      font-size: 58.5%;
  }
}

@media (max-width: 690px) {
  html {
    font-size: 55.5%;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 49.5%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 46.5%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 43.5%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 41.5%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 38.5%;
  }
}
