@media screen and (max-width: 670px) {
  .main{
    clip-path: none;
  }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 54.5%;
  }
}

@media screen and (max-width: 450px) {
    html {
      font-size: 50.5%;
    }
}

@media screen and (max-width: 430px) {
    html {
      font-size: 46.5%;
    }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 41%;
  }
}

@media screen and (max-width: 340px) {
  html {
    font-size: 38%;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 115%;
  }

  .main {
    clip-path: none;
  }
}

@media (min-width: 1030px) {
  html {
    font-size: 67%;
  }
}
