
/* Basic setup begin */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
}

/*.clear-fix, .clear-fix:after {*/
    /*content: "";*/
    /*clear: both;*/
    /*display: table;*/
/*}*/

/* Basic setup end */

/* Animations begin */

@keyframes fromLeft {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes formTop {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes evolve {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* Animations end */

/* Header - which occupying all the height of the screen */

.main {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95)), url(../images/mainBackground.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 75% 100% , 0% 100%);
}

/* Header end */
.logo {
    width: 10rem;
    margin: 4rem;
    -webkit-animation: fromLeft 0.5s ease-in;
    -o-animation: fromLeft 0.5s ease-in;
    animation: fromLeft 0.5s ease-in;
}

/* Centering Content Begin */

.center {
    width: 50rem;

    /* Centering styles */
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Centering Content End */


/* Rotating Cards begin */

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    /*height: 10rem;*/
}

.card__side {
    position: absolute;
    top: 0;
    left: 0;
    /*height: 10rem;*/
    transition: all 1.5s ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side-front {
    background-color: #fff;
}

.card__side-back {
    transform: rotateY(180deg);
    background-color: #fff;
}

.hide {
  opacity: 0;
  visibility: hidden;
}


/*--------------- Card rotation start ---------------*/

.rotateBack {
  transform: rotateY(180deg);
}

.rotateFront {
  transform: rotateY(360deg);
}

/*--------------- Card rotation complete ---------------*/


/* Rotating card end */

/*card intro begin*/


.card__kinre {
    margin: 1rem;
    text-align: center;
    color: #d81b60;
    font-size: 3rem;
    font-weight: 700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 75% 100% , 0% 100%);
}


/* Horizontal line styling */
.card__hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ec407a, rgba(0, 0, 0, 0));
}

/* Horizontal line styling end*/

.card__register {
    margin: 1rem;
    text-align: center;
    color: #d81b60;
}

/* Form Styling */

.card__form-phnum {
    width: 90%;
    margin: 2rem auto 0;
}

/* Input Field */
.phnum {
    width: 100%;
    padding: 1.5rem 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #555;
    display: block;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*margin: 0 auto;*/
}

.phnum:active:invalid, .phnum:focus:invalid {
    border-bottom: 3px solid rgba(77, 208, 225, 0.95);
}

.phnum:active, .phnum:focus {
    border-bottom: 3px solid #d81b60;
}
/* Inputfield end */

/* Input label */
.phnum__label {
    font-size: 2rem;
    font-weight: 400;
    color: #555;
    padding-left: 2rem;
    padding-top: 1rem;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.phnum:placeholder-shown + .phnum__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.3rem);
}
/* Input label end */

/* Submit button */

.card__form-submit {
    width: 90%;
    text-align: right;
    margin: 1.5rem auto 0;
}

.btn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-submit, .btn-log, .btn-reg {
    border-bottom: 1px solid #ff3366;
    padding: 1rem;
    color: #333;
    transition: all 0.3s;
}

.btn-submit:hover, .btn-log:hover, .btn-reg:hover {
    color: #eee;
    background-color: #ff3366;
    transform: translateY(-0.3rem);
    box-shadow: 2px 3px 5px #bdbdbd;
}

.btn-submit:active, .btn-log:active, .btn-reg:active {
    transform: translateY(0);
}

/* submit button end */

/* Login section */

.card__login {
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

.login__text, .register__text {
    margin: 1rem;
}

.login__btn, .register__btn {
    margin: 1rem;
}

.card__form-back {
    width: 95%;
    margin: 1rem auto 0;
}

.card__back-register {
    text-align: center;
}


/* Login section end */

input {
    font-family: 'Lato', sans-serif !important;
}
